*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


body{
   font-family: sans-serif;
}
.container {
   margin: 50px auto;
   padding: 20px;
   max-width: 1000px;
}
.content_body {
   display: flex;
}
.content_column:first-child {
   flex: 1 1 60%;

}
.content_column:last-child{
   flex: 1 1 40%;
  
}
.content_textarea {
   border: 1px solid #000;
   width: 90%;
   height: 300px;
   padding: 10px;
   margin-bottom: 20px;
   background-color: rgb(240, 146, 240);
}
.content_btn {
   width: 160px;
   padding: 10px;
   background-color: darkgreen;
   
}
.content_output {
   padding: 20px;
   background-color: coral;
}
@media(max-width:768px){
   .content_body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .content_column:first-child{
      order:2;
      margin-top: 20px;
   }
   .content_btn{
      margin: 0 auto;
      display: block;
   }
   .content_textarea{
      width: 100%;
   }
   .content_column{
      width: 100%;
   }
}